mixin card-img(data)
  .card-img&attributes(attributes)
    ul.card-img__list
      li.card-img__item
        +button-icon('comparison').card__comparison
      li.card-img__item
        +button-icon('favorite').card-img__favorite
    +sticker('article', data.article).card-img__article
    +sticker('reviews', data.reviews).card-img__rewiews
    +sticker('view').card-img__view
    img.card-img__img(src=data.src alt=data.title width='292' height='184')
