mixin slider-navigation
  .slider-navigation&attributes(attributes)
    +button('', 'ghost', 'arrow').slider-navigation__button.slider-navigation__button--prev
    +button('', 'ghost', 'arrow').slider-navigation__button.slider-navigation__button--next
