extends ../base

include ../mixins/button.pug
include ../mixins/button-icon.pug
include ../mixins/slider-navigation.pug
include ../mixins/cart-counter.pug
include ../mixins/sticker.pug
include ../mixins/card.pug
include ../mixins/card-img.pug
include ../mixins/form-elem.pug
include ../mixins/slider.pug
include ../mixins/form.pug
include ../mixins/modal.pug

block varaiables
  - const meta = pages.index.meta
  - const {page} = pages.index
  - const cards = pages.index.cards
  - const formElems = pages.index.formElems

block main
  include ../svg-sprite

  .container
    +slider(cards)
  +form
  +modal
