.button-icon {
  width: 28px;
  height: 28px;

  @include media('>=large-desktop') {
    width: 32px;
    height: 32px;
  }

  & > .button__icon {
    width: 57%;
    height: 57%;
  }

  &--square {
    background-color: $primary-white;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(28, 45, 64, 0.1);

    fill: $primary-black;

    &:hover,
    &:focus {
      box-shadow: 0 2px 7px rgba(28, 45, 64, 0.12);

      fill: $primary-blue;
    }

    &:active {
      background-color: $primary-blue;
      box-shadow: 0 2px 5px rgba(28, 45, 64, 0.1);

      fill: $primary-white;
    }
  }

  &--circle {
    border-radius: 50px;

    &:hover,
    &:focus {
      box-shadow: 0 0 7px rgba(28, 45, 64, 0.12);
    }

    &:active {
      box-shadow: 0 0 5px rgba(28, 45, 64, 0.1);

      fill: $primary-white;
    }
  }
}
