.card {
  padding: 8px 12px 12px;
  overflow: hidden;

  background-color: $primary-white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(28, 45, 64, 0.05);

  &__title {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    height: 60px;
    margin: 0;
    margin-bottom: 12px;
    overflow: hidden;

    font-weight: inherit;
    font-size: inherit;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__stickers {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    list-style: none;

    @include media('>=large-desktop') {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__sticker {
    margin-right: 4px;
    margin-bottom: 4px;

    font-size: 8px;
    line-height: 12px;

    &:last-child {
      margin-right: 0;
    }

    @include media('>=desktop') {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__prices {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;

    @include media('>=desktop') {
      flex-direction: row;
      align-items: end;
    }
  }

  &__new-price {
    color: $primary-black;
    font-weight: 600;
    font-size: 16px;

    @include media('>=desktop') {
      margin-right: 12px;

      font-size: 18px;
    }

    @include media('>=large-desktop') {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__measurement-unit {
    display: inline-block;
    margin-left: 5px;

    color: $primary-gray;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    @include media('>=large-desktop') {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__old-price {
    margin-bottom: 4px;

    color: $primary-gray;
    font-size: 12px;
    line-height: 16px;
    text-decoration: line-through;

    @include media('>=desktop') {
      margin-bottom: 0;
    }
  }
}
