.cart-counter {
  display: flex;

  &__button {
    width: 36px;

    background-color: $primary-white;
    border: 1px solid #eceff8;

    @include media('>=large-desktop') {
      width: 48px;
    }

    &--increase {
      stroke: $primary-black;

      &:hover,
      &:focus {
        stroke: $primary-blue;
      }

      &:active {
        background-color: $primary-blue;

        stroke: $primary-white;
      }
    }

    &--decrease {
      fill: $primary-black;

      &:hover,
      &:focus {
        fill: $primary-blue;
      }

      &:active {
        background-color: $primary-blue;

        fill: $primary-white;
      }
    }
  }

  &__input {
    flex-grow: 1;
    margin: 0 11px;

    font-weight: 500;
    font-size: 14px;
    font-family: $font-base;
    line-height: 20px;
    text-align: center;

    background-color: $primary-white;
    border: 1px solid #eceff8;
    border-radius: 7px;

    &:hover {
      color: $primary-blue;
    }

    &:focus {
      background-color: #edf5fe;
    }
  }
}
